@model EmployeesData.Models.CreateEditViewModel
@{
    ViewData["Title"] = "Add Employee";
}
<h4>Add Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Employee.FullName" class="control-label">Full Name <span class="text-danger">*</span> </label>
                <input asp-for="@Model.Employee.FullName" class="form-control" />
                <span asp-validation-for="@Model.Employee.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Employee.Email" class="control-label"></label>
                <input asp-for="@Model.Employee.Email" class="form-control" />
                <span asp-validation-for="@Model.Employee.Email" class="text-danger"></span>
            </div>

            <div class="demo-section k-content">
                <label for="skills">Skills</label>
                @(Html.Kendo().MultiSelectFor(m => m.SelectedSkillsList)
              //.Name("required")
              .Placeholder("Select skills...")
              .DataValueField("Id")
              .DataTextField("Name")
              .BindTo(Model.SkillsList)
        //.Value(new string[] { "ASP.NET", "iOS" })
        )
                @*<kendo-multiselect id="required" placeholder="Select skills..."
                           v-model="@Model.SkillsList"
                           :data-source="@Model.SkillsList"
                           :data-text-field="'Name'"
                           :data-value-field="'Id'"
                           :delay="1000"
                           :auto-bind="true"
                           :min-length="2"
                           :value-primitive="false">
        </kendo-multiselect>*@


                @*<button class="k-button" id="get">Send Invitation</button>*@
            </div>
            @*<script>
                $(document).ready(function () {
                    var required = $("#SelectedSkillsList").data("kendoMultiSelect");

                    $("#get").click(function () {
                        alert("Attendees:\n\nRequired: " + required.value());
                    });
                });
            </script>*@
            <style>
                .demo-section label {
                    display: block;
                    margin: 15px 0 5px 0;
                }

                #get {
                    float: right;
                    margin: 25px auto 0;
                }
            </style>

            @*<div class="form-group ui-widget">
                <label for="tags" class="control-label">Skills</label> <br />
            </div>*@
            @*<div id="skillsDiv" class="mb-5">
                <input id="tags" class="form-control mb-3" asp-for="@Model.Skills" />
            </div>*@
            <div class="form-group mt-3">
                <input type="submit" value="Add" class="btn btn-info" onclick="" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
